:root {
    --main-bg-color: #151414;
    --red: #c1272d;
    --darkred: #8b0000;
    --gold: #ca8e2f;
    --text: #cdcdcd;

    --fs-regular: 1rem;
    --fs-112: 1.12rem;
    --fs-125: 1.25rem;
    --fs-150: 1.5rem;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--text);
    font-size: var(--fs-regular);
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.banner {
    margin: auto;
    background: url(/images/shinjuku-sm.webp);
    background-size: cover;
    background-clip: text;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.banner-text {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /* font-family: 'Zen Antique', serif; */
    font-family: 'Dela Gothic One', cursive;
    font-size: 13em;
    writing-mode: vertical-rl;
    text-orientation: upright;

}

@media (min-width: 400px){
    body {
        font-size: var(--fs-112);
    }
    .banner-text {
        font-size: 15em;
    }
}

@media (min-width: 600px){
    body {
        font-size: var(--fs-125);
    }
}

.introduction {
    margin: 2.5em 1.3em;
    text-align: center;
}

.container {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    scroll-snap-align: start;    
}

.picture {
    height: 9vh;
    width: 100%;
    border-radius: 30px;
    filter: grayscale(1);
    transition: height 1s, filter 1s;
    object-fit: cover;
}

.js-show {
    height: 40vh;
    filter: grayscale(0.5);
}

@media (min-width: 1000px) {
    .accordion {
        flex-direction: row;
        gap: 1vw;
        justify-content: space-around;
    }
    .picture {
        height: 70vh;
        width: 9vw;
        border-radius: 50px;
        transition: width 1s, filter 1s;
    }
    .js-show {
        width: 67vw;
    }
}

.description {
    text-align: center;
}

.information {
    position: relative;
}

.header {
    position: absolute;    
    top: 10vw;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.information-header {
    margin: 0 .2rem;
    text-align: center;
    margin-bottom: 0;
}

.information-fineprint {
    text-align: center;
    margin: 0;
}

.cover {
    position: relative;
    width: 100vw;
    height: 100vw;
    clip-path: polygon(0 100vw, 100vw 100vw, 50vw 40vw);
    z-index: 1;
}

.cat {    
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50vw;
    left: 50vw;
    transform: translate(-50px, -50px);
    z-index: 2;
}

.wheel {
    height: 100vw;
    width: 100vw;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(rgb(198, 42, 49) 30%, rgb(90, 0, 0));
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    transform: rotate(0deg);
    transition: transform .5s;
    z-index: -1;
}

.option {
    display: inline-block;
    margin: auto auto;
    height: fit-content;
    text-align: center;
}

.option p {
    margin: 0;
    display: block;
}

.kanji {
    font-size: 1.5em;
    font-weight: 800;
}

.option:nth-of-type(1) {
    grid-column: span 3;
    text-align: center;
    transform: rotate(180deg);
}
.option:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1;
    transform: rotate(90deg);
}

.option:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
    width: 100px;
    height: 100px;
}

.option:nth-of-type(4) {
    grid-row: 2;
    grid-column: 3;
    transform: rotate(-90deg);
}
.option:nth-of-type(5) {
    grid-column: span 3;
    transform: rotate(0deg);
    text-align: center;
}

.definition {
    padding: .5rem;
    display: grid;
    scroll-snap-align: end;
}

.definition-container {
    grid-row: span 3;
    grid-column: span 2;
    position: relative;
    display: flex;
    text-align: center;
}

.definition-item {
    margin: 0;
    padding: 0 .3em;
    align-self: center;
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.up,
.down {
    height: 50px;
    width: 100px;
    background-color: var(--red);
    border-style: ridge;
    border-radius: 10px;
    grid-column: 3;
}

.up img,
.down img {
    height: 3em;
    width: 3em;
}

.up {
    grid-row: 1;
}

.down {
    grid-row: 3;
}

@media (min-width: 450px){
    .cat {
        width: 125px;
        height: 125px;
        transform: translate(-63px, -63px);
    }

    .wheel {
        width: 80vw;
        height: 80vw;
        left: 10vw;
        top: 10vw;
    }

    .definition {
        padding: 1.5rem;
    }
}

@media (min-width: 600px){
    .header {
        transform: translateY(2.2em);
    }

    .cover {
        height: 90vw;
        clip-path: polygon(0 100vw, 100vw 100vw, 50vw 45vw);
    }

    .up {
        grid-row: 1;
        grid-column: 2;
    }
    .definition-container {
        grid-row: 2;
        grid-column: span 3;
    }

    .down {
        grid-row: 3;
        grid-column: 2;
    }

    .wheel {
        width: 70vw;
        height: 70vw;
        left: 15vw;
        top: 15vw;
    }
}

@media (min-width: 900px){
    .information {
        display: flex;
        gap: 0;
    }

    .header {
        top: 5vw;
        transform: translateY(-2.2em);
    }

    .cover {
        height: 50vw;
        width: 50vw;
        top: 0;
        clip-path: polygon(100% 10%, 50% 50%, 100% 90%);
    }

    .cat {
        top:25vw;
        left: 25vw;
    }

    .wheel {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }

    .option:nth-of-type(1) {
        transform: rotate(-90deg);
    }
    .option:nth-of-type(2) {
        transform: rotate(-180deg);
    }
    .option:nth-of-type(4) {
        transform: rotate(0deg);
    }
    .option:nth-of-type(5) {
        transform: rotate(90deg);
    }

    .definition {
        width: 50%;
        padding: 0;
        margin-top: 2em;
        align-content: space-evenly;
        scroll-snap-align: none;
    }
}

@media (min-width: 1100px){
    body {
        font-size: var(--fs-150);
    }
    .information {
        justify-content: space-evenly;
    }

    .cover {
        height: 40vw;
        width: 40vw;
        top: 5vw;
        clip-path: polygon(100% 10%, 50% 50%, 100% 90%);
    }
}

.down:active,
.up:active {
    background-color: var(--darkred);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}