body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;    
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.banner {
    margin: auto;
    /* font-family: 'Zen Antique', serif; */
    font-family: 'Dela Gothic One', cursive;
    font-size: 65vw;
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: url(/images/shinjuku-sm.webp);
    background-size: cover;
    background-clip: text;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.introduction {
    margin: 2.5em 1.3em;
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.accordion {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    scroll-snap-align: start;
}

.picture {
    height: 9vh;
    width: 100%;
    border-radius: 20px;
    filter: grayscale(1);
    transition: height 1s, filter 1s;
    object-fit: cover;
}

.show {
    height: 40vh;
    filter: grayscale(0.5);
}

.description {
    height: 30vh;
    text-align: center;
    color:rgb(225, 215, 250);
}

.fadeIn {
    animation: fade 2s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.information {
    position: relative;
    height: 100vw;
    width: 100vw;
}

.wheel {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: radial-gradient(rgb(198, 42, 49) 30%, rgb(90, 0, 0));
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    transform: rotate(0deg);
    transition: transform .5s;
    position: relative;
    z-index: -1;
}

/* @media (min-width: 400px){
    .inner-box {
        height: 80vw;
        width: 80vw;
        left: 10vw;
    }
    .wheel {
        width: 99%;
        height: 99%;
    }
    
} */

.option {
    color: aliceblue;
    display: inline-block;
    margin: auto auto;
    height: fit-content;
    text-align: center;
}

.option p {
    margin: 0;
    display: block;
}

.option:nth-of-type(1) {
    grid-column: span 3;
    text-align: center;
    transform: rotate(180deg);
}
.option:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1;
    transform: rotate(90deg);
}

.option:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
    width: 100px;
    height: 100px;
}

.option:nth-of-type(4) {
    grid-row: 2;
    grid-column: 3;
    transform: rotate(-90deg);
}
.option:nth-of-type(5) {
    grid-column: span 3;
    transform: rotate(0deg);
    text-align: center;
}

    .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /* clip-path: polygon(0 0, 100vw 0, 100vw 100vw, 50vw 40vw, 0 100vw); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 40%, 0 100%);
}

.cat {    
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    z-index: 2;
}

.definition {
    margin: 1rem;
    display: grid;
    scroll-snap-align: end;
}

.definition p {
    grid-row: span 3;
    grid-column: span 2;
}

.up,
.down {
    height: 50px;
    width: 100px;
    background-color: rgb(198, 42, 49);
    border-style: ridge;
    border-radius: 10px;
    grid-column: 3;
}

.up img,
.down img {
    height: 3em;
    width: 3em;
}

.up {
    grid-row: 1;
}

.down {
    grid-row: 3;
}

/* @media (min-height: 600px){
    .up {
        grid-row: 1;
        grid-column: 2;
    }
    .definition p {
        grid-row: 2;
        grid-column: span 3;
    }
    
    .down {
        grid-row: 3;
        grid-column: 2;
    }
    .information {
        height: 90vh;
    }
} */

/* @media (min-height: 800px){
    .information {
        height: 75vh;
    }
} */

.down:active,
.up:active {
    background-color: darkred;
}

.information-header {
    margin: 0 .2rem;
    color: red;
    text-align: center;
    margin-bottom: 0;
}

.information-fineprint {
    color: red;
    text-align: center;
    margin: 0;
}